/*
Theme Name: El Greco Child
Theme URI: https://alidropship.com/
Author: Andrey Glazyrin, Ekaterina Sayapina, Evgeniy Chepchugov
Author URI: https://alidropship.com/
Template: el-greco
Version: 1.0.0
*/


/*************** ADD CUSTOM CSS HERE.   ***************/


@media only screen and (max-width: 575px) {


}

